{{loading-slider isLoading=loading expanding=true duration=30000 color=colors}}
{{notification-container position="top"}}
<div class="container">
  {{outlet}}
  <div class="row mt-5">
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="create-icon col-md-12 text-center">
      <span class="text-muted icon-icon"></span>
    </div>
    <span class="text-muted">&copy; Haboob {{moment-format (now) 'YYYY'}}</span>
  </div>
</footer>
